#map {
    height: 600px;
    margin: 30px 5%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

main .container {
    /*background: #ffffff;*/
    /*padding: 20px 50px;*/
    padding-top:20px;
}

.map-div, .list-div {
    background-color: #fafafa;
    border:solid 1px #d8d8d8;
    /*padding: 40px;*/
}

.list-div {
    height: 500px;
    overflow: auto;
}

.brand-logo {
    margin-left:20px;
}